#mautic-cnt-config-form .bsf-mautic-status-connected {
    background-color: #1baf1b;
    color: #fff;
    padding: 3px 6px;
    margin-right: 2em;
}
#mautic-cnt-config-form .bsf-mautic-status-disconnect {
    background-color: #b4b9be;
    padding: 3px 6px;
    color: #fff;
}